@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.main-bg{
   background-image: url('/assets/images/Main Bg.svg');
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: arial, sans-serif;
  --font-mono: var(--font-geist-mono);

  --color-white: #ffffff;
  --color-black: #202224;
  --color-primary: #4880FF;
  --color-primary-100: #5A8CFF;
  --color-gray: #D5D5D5;
  --color-gray-100: #D8D8D8;

  
}

